[submodule "3/Hi_Cruz-Narsted-N_Chen-R_Li-E"]
	path = 3/Hi_Cruz-Narsted-N_Chen-R_Li-E
	url = https://github.com/MrEricL/Hi.git
[submodule "3/QueenTerrysSun_Xiang-Q_Guan-T_Korsun-M"]
	path = 3/QueenTerrysSun_Xiang-Q_Guan-T_Korsun-M
	url = https://github.com/queeniexiang/QueenTerrysSun.git
[submodule "3/RiHAV_Zheng-R_Teoh-V_Peng-A"]
	path = 3/RiHAV_Zheng-R_Teoh-V_Peng-A
	url = https://github.com/A11ard/RiHAV.git
[submodule "4/Flash_Mahdi-I_Wong-T_Ju-D"]
	path = 4/Flash_Mahdi-I_Wong-T_Ju-D
	url = https://github.com/imahdi2000/Flash_Mahdi-I_Wong-T_Ju-D.git
[submodule "4/Burgers_Bhatt-A_Chen-E_Chow-M"]
	path = 4/Burgers_Bhatt-A_Chen-E_Chow-M
	url = https://github.com/melaniechow/burgers.git
[submodule "4/legendary-goggles_Roktim-A_Ng-M_Chen-X"]
	path = 4/legendary-goggles_Roktim-A_Ng-M_Chen-X
	url = https://github.com/MarcusNg/legendary-goggles.git
[submodule "5/Barry-Allen_Shafran-M_Mok-E_Siu-R"]
	path = 5/Barry-Allen_Shafran-M_Mok-E_Siu-R
	url = git@github.com:Mshafran/Barry-Allen.git
[submodule "5/HaroldKids_Tamara-M_Johnston-C_Boylan-A"]
	path = 5/HaroldKids_Tamara-M_Johnston-C_Boylan-A
	url = https://github.com/Mohamedtamara/Harold-Kids.git
