[submodule "3/Hi_Cruz-Narsted-N_Chen-R_Li-E"]
	path = 3/Hi_Cruz-Narsted-N_Chen-R_Li-E
	url = https://github.com/MrEricL/Hi.git
[submodule "3/QueenTerrysSun_Xiang-Q_Guan-T_Korsun-M"]
	path = 3/QueenTerrysSun_Xiang-Q_Guan-T_Korsun-M
	url = https://github.com/queeniexiang/QueenTerrysSun.git
[submodule "3/RiHAV_Zheng-R_Teoh-V_Peng-A"]
	path = 3/RiHAV_Zheng-R_Teoh-V_Peng-A
	url = https://github.com/A11ard/RiHAV.git
[submodule "4/Flash_Mahdi-I_Wong-T_Ju-D"]
	path = 4/Flash_Mahdi-I_Wong-T_Ju-D
	url = https://github.com/imahdi2000/Flash_Mahdi-I_Wong-T_Ju-D.git
[submodule "4/Burgers_Bhatt-A_Chen-E_Chow-M"]
	path = 4/Burgers_Bhatt-A_Chen-E_Chow-M
	url = https://github.com/melaniechow/burgers.git
[submodule "4/legendary-goggles_Roktim-A_Ng-M_Chen-X"]
	path = 4/legendary-goggles_Roktim-A_Ng-M_Chen-X
	url = https://github.com/MarcusNg/legendary-goggles.git
[submodule "5/Barry-Allen_Shafran-M_Mok-E_Siu-R"]
	path = 5/Barry-Allen_Shafran-M_Mok-E_Siu-R
	url = git@github.com:Mshafran/Barry-Allen.git
[submodule "5/HaroldKids_Tamara-M_Johnston-C_Boylan-A"]
	path = 5/HaroldKids_Tamara-M_Johnston-C_Boylan-A
	url = https://github.com/Mohamedtamara/Harold-Kids.git
[submodule "5/SortOfQuick_Yu-J_Ng-A_Zhang-E"]
	path = 5/SortOfQuick_Yu-J_Ng-A_Zhang-E
	url = git@github.com:jenyu7/SortOfQuick.git
[submodule "1/San1c_Quang-J_Rahman-A_Ro-E"]
	path = 1/San1c_Quang-J_Rahman-A_Ro-E
	url = https://github.com/JonathanQuang/San1c.git
[submodule "5/Titanic-2_Tondolo-F_Chan-B_Chen-T"]
	path = 5/Titanic-2_Tondolo-F_Chan-B_Chen-T
	url = https://github.com/ftondolo/Titanic-2.git
[submodule "1/NorthAmericanX-15_Borisov-N_Lum-J_Jahad-I"]
	path = 1/NorthAmericanX-15_Borisov-N_Lum-J_Jahad-I
	url = https://github.com/ibnullify/NorthAmericanX-15.git
[submodule "4/shurima_Luo-E_Shi-X_Naing-N"]
	path = 4/shurima_Luo-E_Shi-X_Naing-N
	url = https://github.com/p2pcmlp/shurima.git
[submodule "4/Shrug_Rafi-S_Wang-A_Kim-A"]
	path = 4/Shrug_Rafi-S_Wang-A_Kim-A
	url = https://github.com/awang18/teamshrug
[submodule "1/NotOnTime_Cheung-J_Leksanov-D"]
	path = 1/NotOnTime_Cheung-J_Leksanov-D
	url = https://github.com/JasperCheung/NotOnTime.git
[submodule "4/Batwoman_BerriB_LeeA_DaoT"]
	path = 4/Batwoman_BerriB_LeeA_DaoT
	url = https://github.com/alee023/Batwoman.git
[submodule "1/Clozure_Chen-K_Lin-K_Zaia-J"]
	path = 1/Clozure_Chen-K_Lin-K_Zaia-J
	url = https://github.com/kristinlin/clozure.git
[submodule "3/MaJestiQ_Wu-Y_Wong-M_Sit-J"]
	path = 3/MaJestiQ_Wu-Y_Wong-M_Sit-J
	url = https://github.com/JesseSit/MaJestiQ.git
[submodule "1/BananaBread-Wang_K-Hvirtsman_D-Lawren_V"]
	path = 1/BananaBread-Wang_K-Hvirtsman_D-Lawren_V
	url = git@github.com:kwang7/quickSort.git
[submodule "5/QuickSorters_Lam-J_Qu-A_Ionkina-K"]
	path = 5/QuickSorters_Lam-J_Qu-A_Ionkina-K
	url = https://github.com/jasonlam00/QuickSorters.git
[submodule "1/PowerPuffGirs_Kang-Y_Lei-C_Tung-D"]
	path = 1/PowerPuffGirs_Kang-Y_Lei-C_Tung-D
	url = https://github.com/clei1/PowerPuffGirls-Part-II.git
[submodule "5/dadab_Huang-D_Smith-Salzberg-C_Regassa-D"]
	path = 5/dadab_Huang-D_Smith-Salzberg-C_Regassa-D
	url = https://github.com/csmithsalzberg/dadab.git
[submodule "3/JuanManArmy_Smith-J"]
	path = 3/JuanManArmy_Smith-J
	url = https://github.com/JamesSmith1202/JuanManArmy_Smith-J.git
[submodule "3/Nomex-Blanket"]
	path = 3/NomaxBlanket_Cartegni-A_Liu-Y_Tang-N
	url = https://github.com/TakingTheL/Nomex-Blanket
[submodule "1/Jellybeans_Ruvinshteyn-M_Tabassum-M_Woo-J"]
	path = 1/Jellybeans_Ruvinshteyn-M_Tabassum-M_Woo-J
	url = https://github.com/JackieW001/Jellybeans.git
[submodule "5/MicDrop_Elsharawy-M_Lam-I_Pan-C"]
	path = 5/MicDrop_Elsharawy-M_Lam-I_Pan-C
	url = https://github.com/Razorflame3912/MicDrop.git
[submodule "1/Faunder_Cuenca-G_Jaoutakas-A_Liu-H"]
	path = 1/Faunder_Cuenca-G_Jaoutakas-A_Liu-H
	url = https://github.com/gracecuenca/Faunder.git
[submodule "3/PeregrineFalcons_Shifrina-D_Zheng-H_Radosav-F"]
	path = 3/PeregrineFalcons_Shifrina-D_Zheng-H_Radosav-F
	url = git@github.com:dariashifrina/peregrinefalcons.git
[submodule "5/SwiftSifters_Huang-C_Olevsky-L_Islam-S"]
	path = 5/SwiftSifters_Huang-C_Olevsky-L_Islam-S
	url = https://github.com/chuang9/QuickSort.git
[submodule "3/GIJoe_Weng-J_Gill-G_Han-J"]
	path = 3/GIJoe_Weng-J_Gill-G_Han-J
	url = https://github.com/Gillgamesh/GIJoe.git
[submodule "4/Jittle_Zhang-J_Lin-T_Tao-I"]
	path = 4/Jittle_Zhang-J_Lin-T_Tao-I
	url = https://github.com/iristao/Jittle.git
[submodule "3/SoSoSlow_Lin-H_Eng-L_Chung-E"]
	path = 3/SoSoSlow_Lin-H_Eng-L_Chung-E
	url = https://github.com/HermanLin/SoSoSlow.git
[submodule "3/AndTeam-OWasOurName-O_Acuna-M_Apterman-D_Nag-A"]
	path = 3/AndTeam-OWasOurName-O_Acuna-M_Apterman-D_Nag-A
	url = https://github.com/DavidApterman/andTeam-oWasOurName-o.git
[submodule "5/QuickSilver_Ahmed-F_Liu-J_Moi-T"]
	path = 5/QuickSilver_Ahmed-F_Liu-J_Moi-T
	url = git@github.com:fahmed3/QuickSilver.git
[submodule "4/2AbsenteesAndALatecomer_Thomas-E_Yu-C_Zhou-J"]
	path = 4/2AbsenteesAndALatecomer_Thomas-E_Yu-C_Zhou-J
	url = https://github.com/EugeneThomas/2AbsenteesAndALatecomer.git
[submodule "5/KaCHOW_Jin-B_Zhang-B_Vummidi-S"]
	path = 5/KaCHOW_Jin-B_Zhang-B_Vummidi-S
	url = https://github.com/brookejin/KaCHOW.git
[submodule "1/MiddleSense_Bao-K_Sparakis-D_Ngo-S"]
	path = 1/MiddleSense_Bao-K_Sparakis-D_Ngo-S
	url = git@github.com:sngo1/MiddleSense.git
[submodule "1/MiddleSense"]
	path = 1/MiddleSense
	url = git@github.com:sngo1/MiddleSense.git
[submodule "3/TimeKeepers_Lin-J_Murphy-A_Newman-G"]
	path = 3/TimeKeepers_Lin-J_Murphy-A_Newman-G
	url = https://github.com/AugieMurphy/TimeKeepers.git
[submodule "QuokkaCrumbs_Kwong-B_Xia-M_Chan-M"]
	path = QuokkaCrumbs_Kwong-B_Xia-M_Chan-M
	url = https://github.com/MoogieMoo/QuokkaCrumbs.git
