[submodule "3/Hi_Cruz-Narsted-N_Chen-R_Li-E"]
	path = 3/Hi_Cruz-Narsted-N_Chen-R_Li-E
	url = https://github.com/MrEricL/Hi.git
[submodule "3/QueenTerrysSun_Xiang-Q_Guan-T_Korsun-M"]
	path = 3/QueenTerrysSun_Xiang-Q_Guan-T_Korsun-M
	url = https://github.com/queeniexiang/QueenTerrysSun.git
[submodule "3/RiHAV_Zheng-R_Teoh-V_Peng-A"]
	path = 3/RiHAV_Zheng-R_Teoh-V_Peng-A
	url = https://github.com/A11ard/RiHAV.git
[submodule "4/Flash_Mahdi-I_Wong-T_Ju-D"]
	path = 4/Flash_Mahdi-I_Wong-T_Ju-D
	url = https://github.com/imahdi2000/Flash_Mahdi-I_Wong-T_Ju-D.git
